{% extends 'base.html' %}

{% block content %}
    <h2>All Bookings</h2>
    <ul>
        {% for booking in bookings %}
            <li>
                {{ booking.show.name }} by {{ booking.user.username }}<br>
                <strong>Booked on:</strong> {{ booking.booking_time }}<br>
                <strong>Seats:</strong>
                <ul>
                    {% for bookedseat in booking.bookedseat_set.all %}
                        <li>{{ bookedseat.seat_number }}</li>
                    {% empty %}
                        <li>No seats booked.</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No bookings yet.</li>
        {% endfor %}
    </ul>
{% endblock %}