{% extends 'base.html' %}

{% block content %}
    <h2>Available Shows</h2>
    <ul>
        {% for show in shows %}
            <li>
                <a href="{% url 'show_detail' show.pk %}">
                    {{ show.name }} - {{ show.date }} at {{ show.time }} ({{ show.venue }})
                </a>
                {% if user.is_staff %}
                    <a href="{% url 'show_update' show.pk %}">Edit</a>
                    <a href="{% url 'show_delete' show.pk %}">Delete</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No shows available.</li>
        {% endfor %}
    </ul>
{% endblock %}